process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

}

// Base directory for test data
def luslab_test_data_dir = "https://raw.githubusercontent.com/luslab/nf-core-test-data/main"

params {
    fasta                                = "${luslab_test_data_dir}/data/fasta/chr19_500kb.fa.gz"
    gtf                                  = "${luslab_test_data_dir}/data/gtf/chr19_50k.gtf.gz"
    reference_name             = 'Human'
    aligner                    = 'cellranger'
    data_type = 'atac'
}