
docker.enabled          = true

params {
    max_cpus            = 4
    max_memory          = 8.GB

    // Input data
    sample_sheet        = '/Users/alex/dev/repos/cellranger_multiomic/test_data/samplesheet.csv'

    // Genome references
    fasta               = 'https://raw.githubusercontent.com/luslab/nf-core-test-data/main/data/fasta/chr19_500kb.fa.gz'
    gtf                 = 'https://raw.githubusercontent.com/luslab/nf-core-test-data/main/data/gtf/chr19_50k.gtf.gz'
    // Params
    reference_name      = "chick"
    aligner             = 'cellranger'
    data_type           = 'atac'
}