// Base directory for test data
def luslab_test_data_dir = "https://raw.githubusercontent.com/luslab/nf-core-test-data/main"

params {
    test_data {
        'homo_sapiens' {
            'genome' {
                genome_fasta_gz                                = "${luslab_test_data_dir}/data/fasta/chr19_500kb.fa.gz"
                genome_gtf_gz                                  = "${luslab_test_data_dir}/data/gtf/chr19_50k.gtf.gz"
            }
            'illumina' {
                test_10x_atac_fastq_gz                         = "${luslab_test_data_dir}/data/fastq/10x_atac.tar.gz"
                test_10x_rna_fastq_gz                          = "${luslab_test_data_dir}/data/fastq/10x_rna.tar.gz"
            }
        }
    }
}



